[core]
  editor = vi
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[credential]
  helper = store
[pull]
  rebase = true
[gpg]
	program = gpg

[alias]
  unstage = reset HEAD
  undo-commit = reset --soft HEAD^
  poh = push origin HEAD
  pulloh = pull origin HEAD
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
	fdx = clean -i -fdx

# iFood
[includeIf "gitdir:~/ifood/"]
  path = ~/.gitconfig-ifood

[includeIf "gitdir:~/ifood-dr/"]
  path = ~/.gitconfig-ifood

# Personal
[includeIf "gitdir:~/michelmzs/"]
  path = ~/.gitconfig-michelmzs
[url "https://github.com"]
	insteadOf = ssh://git@github.com
